.hide {
    display: none;
}

.btn {
    background-color: #ed7839;
    border-radius: 4px;
}

.btn:hover {
    background-color: #ea6a25;
}

.subtitle {
    background-color: #fdf1eb;
    border-bottom: 1px solid #ececec;
    padding: 10px 15px;
    color: #4e4e4e;
}

.sidebar {
    position: fixed;
    width: 215px;
    height: 100%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
}

.sidebar .slaca {
    background: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 68px;
}

.sidebar.navSide ul li {
    border-bottom: 2px solid #e7e7e7;
}

.sidebar.navSide ul li a {
    font-family: Quicksand;
    font-weight: 500;
    color: #725c5c;
    display: block;
    padding: 7px 0 7px 24px;
}

.sidebar.navSide ul li a:hover {
    border-left: 5px solid #ed7839;
    background-color: #fdf1eb;
}

.selecionado {
    border-left: 5px solid #ed7839;
    background-color: #fdf1eb;
}

.btnMmenu {
    display: none;
}

.mobileMenu {
    display: none;
}

/* header*/
.content {
    margin-left: 220px;
}

.content header {
    background-color: #fdf1eb;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content header .header-title {
    margin-left: 36px;
    color: #725c5c;
    padding: 4px 0;
}

.content header .header-title p {
    font-size: 0.875em;
}

.content header .header-title h2 {
    font-weight: 300;
    font-size: 1.375em;
}

.content header .user {
    display: flex;
    align-items: center;
}

.user .language {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 22px;
}

.btnLanguage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97px;
    height: 34px;
}

.btnLanguage p {
    font-size: 0.875;
    margin-right: 6px;
}

.user-info .user-text {
    text-align: right;
    margin-right: 6px;
    font-size: 0.875em;
    font-family: Quicksand;
}

/*video*/
.video-container {
    margin: 0px 30px;
    display: grid;
    grid-template-columns: minmax(768px, 2fr) minmax(250px, 1fr);
    grid-template-rows: 80px 438px;
    row-gap: 10px;
    grid-template-areas: "title actions" "video details";
}

.video-container .title {
    grid-area: title;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    font-weight: 900;
    line-height: 25px;
    margin-top: 20px;
    color: #ed7839;
}

.video-container .video {
    grid-area: video;
}

.video-container .video-actions {
    grid-area: actions;
    justify-self: end;
}

.btns-video {
    display: flex;
    margin-top: 20px;
}

.btnDownload {
    width: 120px;
    height: 31px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.btnDownload p {
    margin-left: 5px;
    font-weight: 500;
}

.btnFav, .btnDoi {
    width: 43px;
    height: 31px;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
}

.citeWork {
    color: #ed7839;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 12px;
}

.video-container .video-actions a {
    display: block;
}

.video-container .video-details {
    margin-left: 30px;
    border: 1px solid #ececec;
}

.scroll-details {
    overflow-y: scroll;
    height: 390px;
}

.scroll-details::-webkit-scrollbar {
    width: 5px;
}

.scroll-details::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
    border-radius: 15px;
}

.scroll-detail::-webkit-scrollbar-track {
    background-color: #e7e7e7;
}

.video-details div {
    padding: 10px;
    color: #5c5c5c;
}

.video-details span {
    font-weight: bold;
}

.video-details .det-geral {
    font-size: 0.75em;
    line-height: 20px;
}

.video-details .det-authors p {
    font-size: 0.875em;
    line-height: 20px;
}

.scroll-details .det-uni {
    font-size: 0.75em;
    line-height: 20px;
}

/*resume*/
.resume {
    margin: 30px;
    border: 2px solid #ececec;
    color: #5c5c5c;
    height: 200px;
    overflow: hidden;
}

.resume-vm {
    height: auto;
}

.resume p {
    padding: 15px;
    font-family: Quicksand;
    font-size: 0.875em;
    letter-spacing: 0.02em;
    line-height: 23px;
    margin-bottom: 25px;
}

.btnSeeMore {
    color: #ed7839;
}

.btnDisappear {
    display: none;
}

/*discussões*/
.discussion {
    margin: 30px;
    border: 2px solid #ececec;
    color: #5c5c5c;
}

.content-discussion {
    padding: 15px;
}

.content-discussion p {
    text-align: center;
}

.content-discussion p:first-child {
    color: #ed7839;
    font-size: 1.125em;
    font-weight: bold;
    margin-bottom: 25px;
}

.disc-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.disc-icons img:nth-child(2) {
    margin: 0 50px;
}

.p-after {
    width: 700px;
    margin: 0 auto;
}

.p-after::after {
content: '';
display: block;
width: 700-x;
height: 2px;
background-color: #ececec;
margin-top: 50px;
}

.btnNewTopic {
    width: 133px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(180deg, #feb254 0%, #f0813d 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    position: relative;
    top: -18px;
    margin: 0 auto;
}

.btnNewTopic img {
    margin-right: 6px;
}

.btnNewTopic p {
    font-family: Quicksand;
    font-weight: bold;
    font-size: 0.9375em;
}

/*newtopic-disc*/
.newTopic p {
    font-family: Quicksand;
    text-align: center;
    font-size: 0.875em;
    margin-top: 15px;
}

.topicForm {
    padding: 15px;
}

.topicForm label {
    color: #ed7839;
    font-weight: bold;
    display: block;
    margin: 10px 0 3px 0;
}

.topicForm input {
    width: 100%;
    height: 39px;
    border-radius: 3px;
    padding: 0px 20px;
}

.topicForm textarea {
    resize: none;
    width: 100%;
    min-height: 90px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px 20px;
}

.options-form {
    background-color: #eaf1f2;
    margin: 0;
    border: 1px solid #ccc;
    display: flex;
    height: 31px;
    justify-content: flex-end;
    margin-top: -5px;
    border-radius: 0px 0px 4px 4px;
}

.options-form .btnSend {
    font-family: Quicksand;
    font-weight: bold;
    display: inline-block;
    width: 230px;
    background: linear-gradient(180deg, #feb154 0%, #f1833e 100%);
    border-radius: 0px 0px 4px 0px;
    color: #fff;
    padding-bottom: 2px;
}

/*Topic enviado*/
.topic-send {
    margin-top: 20px;
}

.topic-send > p:first-child {
    color: #ed7839;
    font-size: 1.125em;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
}

.topic-send .p-after {
    text-align: center;
}

/*topic-disc*/
.topics {
    padding: 15px;
}

.topic-item {
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    padding: 20px;
    margin-bottom: 17px;
    cursor: pointer;
    margin: 20px;
}

.topic-item:hover {
    background-color: rgba(206, 206, 206, 0.3);
    transition: .5s;
}

.topic-title {
    font-family: Quicksand;
    font-weight: bold;
    color: #ED7839;
    line-height: 20px;
}

.topic-author {
    font-family: Quicksand;
    font-weight: 500;
    font-size: 0.75em;
    color: #5C5C5C;
    margin-bottom: 10px;
}

.topic-desc {
    font-family: Quicksand;
    font-size: 0.875em;
    margin-bottom: 14px;
}

.topic-options {
    display: flex;
}

.topic-options .options {
    margin-right: 15px;
}

.topic-options .btnLike {
    width: 27px;
    height: 20px;
    padding: 4px;
    margin-right: 22px;
}

.topic-info {
    margin-right: 15px;
    font-size: 0.875em;
    color: #757575;
}

/*topic expand-disc*/
.topic-expanded-1, .topic-expanded-2 {
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    padding: 20px 0;
    margin: 20px;
    cursor: pointer;
}

.topic{
    margin: 0 20px;
}

.topic-expanded-1 .topic-options, .topic-expanded-2 .topic-options {
    margin-bottom: 10px;
}

.topic-response {
    border-bottom: 1px solid #e7e7e7;
    padding: 20px 15px;
}

.gray {
    background-color: #F8F8F8;
}

.topic-response .author {
    display: flex;
    justify-content: space-between;
}

.topic-response .author p {
    font-family: Quicksand;
    font-weight: bold;
    font-size: 12px;
}

.topic-response .author .author-type{
    display: flex;
    margin-bottom: 10px;
}

.topic-response .author .author-type p{
    color: #ED7839;
    margin-right: 33px;
}


